<div class="banner">
  <div class="container">
    <h1>Your Cocktail Bar</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Create new drink", new_cocktail_path, class: "btn btn-primary" %>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>
<!-- <h1>Your Cocktail Bar</h1> -->

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail %></li>
  <% end %>
</ul>
