<div class="banner">
    <h1>Alcohol Of Fame</h1>
    <br>
    <p>Learn to drink and change your life</p>
    <%= link_to "Add A Famous Drink", new_cocktail_path, class: "btn btn-primary" %> <br>
  <h2>Drinks</h2>
</div>

<div class="container">
  <div class="cocktail-grid">
    <% @cocktails.each do |cocktail| %>

      <%= link_to cocktail do %>
        <div class="card-category cocktail-grid-item" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path(cocktail.photo) %>)">
          <h1><%= cocktail.name %></h1>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

